@model UserView 

@{
    var a = ViewBag.Action ?? "Register";
}

<form asp-controller="Account" asp-action="@a">

    <div asp-validation-summary="All"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">Submit</button>

    <!--<input type="button" id="btn1" />-->

</form>

<!--
<script language ="javascript">



$(document).ready(function() {

    $("#btn1").click(function(){
      
        $.ajax({
             type: "POST",
             url: "http://localhost:5000/account/login2",
             data: "email=johndoe@gmail.com&password=password123",
            success: function(response){

               if(response.success == true) {
                   alert('login has been successfull');
               }   else {
                    alert('login has failed');
               }   
             },
             failure:function() {
                 alert('failed');
             }
        });

    });

});



</script>-->